/target/
/bin/

*.iml
.gradle
local.properties
.idea
.DS_Store
build
captures
.externalNativeBuild

.classpath
.project
.settings 

*.com  
*.class
*.dll
*.exe
*.o
*.so

*.log



*.ctxt

.mtj.tmp/
*.iml

*.7z  
*.dmg  
*.gz  
*.iso  
*.tar  
*.zip  
*.via
*.tmp
*.err
*.jar

*.war

*.ear

*.zip

*.tar.gz

*.rar

hs_err_pid*



.idea/
target/

.DS_Store  
.DS_Store?